.emptytasklist {
    max-width: 736px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    border-top: solid 1px var(--gray-300);
}

.emptytasklist svg{
    color: var(--gray-300);
    margin-bottom: 1rem;;
}

.emptytasklistcontainer {
    display: flex;
    justify-content: center;
}


.emptytasklist strong,p {
    color: var(--gray-300);
    line-height: 1.4;
}


.filledTaskList {
    display: flex;
    max-width: 736px;
    width: 100%;
}

.filledTaskListContainer {
    display: flex;
    justify-content: center;
    min-height: 72px;
}

.task {
    background: var(--gray-400);
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1rem;
}

.filledTaskListContainer + .filledTaskListContainer{    
    margin-top: 12px;
}

.taskContainer {
    display: flex;
    width: 100%;
}


.taskContainer p {
    margin: 0 0.75rem;
    font-size: 0.875rem;
}

.taskContainer p.completed{ 
    text-decoration-line: line-through;
}

.circle {
    color: var(--blue);
    cursor: pointer;
}


.checkCircle {
    color: var(--purple-dark);
    transition: background-color 0.2s;
    cursor: pointer;
}

.taskContainer:hover .checkCircle {
    color: var(--purple);
    transition: background-color 0.2s;
}

.taskContainer:hover .circle {
    color: var(--blue-dark);
    transition: background-color 0.2s;
}

.trash:hover svg {
    color: var(--red-danger);
    transition: background-color 0.2s;
    cursor: pointer;
}