.container {
    display: flex;
    justify-content: center;
}

.teasklistheader {
    max-width: 736px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 64px;
}

.createdTasks{
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
}

.completedTasks {
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
}

.teasklistheader span {
    border-radius: 999px;
    background: var(--gray-400);
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: var(--gray-200)
}